{# Art Deco plaque decoration inside the intro card (included by _shared/partials/intro.njk). #}
<span class="lm-plaque__crown" aria-hidden="true"></span>
<span class="lm-plaque__label" aria-hidden="true">The Wedding of</span>
